<div id="logs-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Utilisateur</th>
            <th>Catégorie</th>
            <th>Action</th>
            <th>Section</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <td></td>
            <td>
              <select (change)="updateFilter()" [(ngModel)]="userFilter" class="form-control">
                <option value="">Tous</option>
                <option *For="let user of users" [value]="user">{{ user }}</option>
              </select>
            </td>
            <td>
              <select (change)="updateFilter()" [(ngModel)]="categoryFilter" class="form-control">
                <option value="">Toutes</option>
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
              </select>
            </td>
            <td>
              <select (change)="updateFilter()" [(ngModel)]="actionFilter" class="form-control">
                <option value="">Toutes</option>
                <option value="errors">Uniquement les erreurs</option>
                <option value="non-errors">Uniquement les actions réussies</option>
              </select>
            </td>
            <td>
              <select (change)="updateFilter()" [(ngModel)]="sectionFilter" class="form-control">
                <option value="">Toutes</option>
                <option *ngFor="let section of sections" [value]="section">{{ section }}</option>
              </select>
            </td>
          </tr>
          <ng-container *ngFor="let log of logs">
            <ng-container *ngIf="showLog(log)">
              <tr (click)="toggleDetails(log.id)" class="log-entry" [ngClass]="{'log-error': log.isError}">
                <td>{{ log.id }}</td>
                <td>{{ log.date }}</td>
                <td title="{{ log.userEmail }}">{{ log.user }}</td>
                <td>{{ log.category }}</td>
                <td>{{ log.action }} {{ log.data.multiple ? "(" + log.data.multiple.length + ")" : "" }}</td>
                <td>{{ log.section }}</td>
              </tr>
              <tr *ngIf="displayDetails == log.id" (click)="toggleDetails(log.id)" class="log-details log-entry" [ngClass]="{'log-error': log.isError}">
                <td></td>
                <td colspan="5">
                  <div *ngIf="log.data.multiple">
                    <div *ngFor="let item of log.data.multiple.slice().reverse()" class="log-multiple-data">
                      <div *ngFor="let info of item" class="row">
                        <div class="col-sm-2 text-right">
                          <strong>{{ info.key }}&nbsp;:&nbsp;</strong>
                        </div>
                        <div class="col-sm-10">
                          <span [innerHTML]="html(info.value)"></span>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <div *ngIf="!log.data.multiple">
                    <div *ngFor="let info of log.data" class="row">
                      <div class="col-sm-2 text-right">
                        <strong>{{ info.key }}&nbsp;:&nbsp;</strong>
                      </div>
                      <div class="col-sm-10">
                        <span [innerHTML]="html(info.value)"></span>
                      </div>
                    </div>
                    <p *ngIf="!log.data">Pas de détails</p>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="loadMoreLogs()" *ngIf="!bottomReached && !loading">
        Charger plus de logs
      </button>
      <p *ngIf="loading">
        Chargement en cours...
      </p>
    </div>
  </div>
</div>