@import "bootstrap";
@import "bootswatch";
@import "bootstrap-switch";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

 /* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  background-color: #f5f5f5;
  margin-top: 50px;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 5px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

// Textarea in page edition
textarea.expand {
  width: 100%;
  height: 300px;
}

// Image preview in page editon
img.image_preview_edit_page {
  height: 50px;
}

.page_content img {
  max-width: 80%;
}

html {
    overflow-y: scroll;
}

#calendar, #calendar td, #calendar th {
    border-collapse: collapse;
    border: 1px black solid;
}

// Center section tabs vertically
.nav-pills li {
    padding-top: 5px;
}

.table-based-form input[type=text] {
    width: 250px;
}

.table-based-form input[type=text].small {
    width: 45px;
}

.table-based-form input[type=text].medium {
    width: 125px;
}

.table-based-form textarea {
    width: 300px;
    height: 60px;
}

.table-based-form th {
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}

img.leader_picture_mini {
   width: 50px;
   height: 50px;
}

img.leader_picture {
   width: 196px;
   height: 196px;
}

.leader-card .leader-name {
    font-size: 1.3em;
    font-weight: bold;
}

.leader-card .leader-real-name {
    margin-top: -5px;
    margin-bottom: 20px;
}

.div-based-form textarea {
    width: 500px;
    height:60px;
}

.div-based-form input[type=text] {
    width: 300px;
}

input[type=text].small, select.small, .small {
    width: 70px;
    display: inline-block;
}

input[type=text].medium, select.medium, .medium {
    width: 150px;
    display: inline-block;
}

input[type=text].large, select.large, .large {
    width: 250px;
    display: inline-block;
}

input[type=text].very-large, select.very-large, .very-large {
    width: 350px;
    display: inline-block;
}

.div-based-form .form-label {
    text-align: right;
}

.form-horizontal .form-side-note {
    padding-top: (@padding-base-vertical + 1); // Default padding plus a border
}

.horiz-divider {
    display: inline-block;
    width: 20px;
}

.vertical-divider {
    display: block;
    height: 50px;
}

.checkbox {
    padding: 0px;
    padding-bottom: 1px;
}

select {
    margin-bottom: 1px;
}

.float-left {
    float: left;
}

.calendar > div {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.calendar > div > div, .calendar > div > a {
    display: table-cell;
    border: 1px solid lightgray;
    border-bottom: none;
    padding: 2px;
}

.calendar .month {
    text-align: center;
}

.calendar .month .month-name {
    font-weight: bold;
    font-size: 1.1em;
}

.calendar .day-name {
    font-weight: bold;
}

.day-number {
    background-color: #eee;
    color: @text-color;
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    border-radius: .25em;
    margin: 6px;
}

.calendar-event-icon {
    height: 1.6em;
    padding-left: 2px;
}

.clickable {
    cursor: pointer;
}

.member-detail-label {
    text-align: right;
    font-weight: bold;
}

.danger {
    color: @brand-danger;
    font-weight: bold;
}

.nav-link a {
    .btn-sm;
    .btn-default;
}

.photo-thumbnail-wrapper {
    margin-top: 20px;
}

.photo-thumbnail {
    height: 100px;
    width: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.photo-thumbnail img {
    max-height: 100px;
    max-width: 150px;
}

@carousel-height: 400px;
@carousel-wrapper-height: 402px;

#photo-carousel {
    margin-left: 10%;
    width:80%;
    height: @carousel-wrapper-height;
    border: 1px @gray solid;
}

.image-wrapper-outer {
    width: 100%;
    height: @carousel-height;
    overflow: hidden;
}

.image-wrapper-inner {
    display: inline-block;
    position: relative;
    right: -50%;
}

.image-wrapper-inner img {
    height: @carousel-height;
    position: relative;
    left: -50%;
}

.carousel-caption {
    background: rgba(0,0,0,0.6);
    left: 5%;
    right: 5%;
    padding: 10px;
    bottom: 10px;
}

.carousel-counter {
    .carousel-caption;
    top: 5px;
    left: auto;
    bottom: auto;
    right: 5px;
    width: 6em;
    padding: 2px;
    background: rgba(0,0,0,0.8);
    font-weight: bold;
}

#carousel-controls {
    .carousel-caption;
    top: 5px;
    left: 5px;
    bottom: auto;
    right: auto;
    padding: 2px;
    background: transparent;
}

#carousel-controls .glyphicon {
    font-size: 2em;
    color: white;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    //border-radius: 50%;
}

.table-striped {
    tbody {
        .dragged-row:nth-child(odd) td, .dragged-row:nth-child(even) td {
            background: @gray-lighter;
        }
    }
}

#photo-drop-area {
    border: 1px black dashed;
    margin: 10px;
    padding: 40px;
    text-align: center;
}

#photo-drop-area.drag-over {
    background: @gray-lighter;
}

#photo-drop-area p {
    margin: 0px;
    padding: 0px;
    border: none;
}

.editable-text-input {
    .form-control;
    width: 300px;
    display: inline-block;
}

td.photo-album-name-column {
    width: 50%;
}

td.photo-album-count-column {
    width: 25%;
}

td.photo-album-actions-column {
    width: 25%;
    min-width: 18em;
}

td.photo-thumbnail-column {
    width: 20%;
}

td.photo-data-column {
    width: 55%;
}

td.photo-actions-column {
    width: 25%;
}

.well legend .btn-sm {
    position: relative;
    bottom: 5px;
}

.attachment-input-wrapper input {
    display: inline;
}

.email-attachment-list, .email-recipient-list {
    position: relative;
    top: 15px;
}

.suggestion-response, .suggestion-edit-response {
    margin-top: 12px;
}

@navbar-col1: #ffffff;
@navbar-col2: #ececec;
@navbar-col3: #e8e8e8;
@navbar-col4: #e0e0e0;
@navbar-col5: #d8d8d8;

.first-nav-bar {
    margin-bottom: 0px;
    border-bottom: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@navbar-col1), color-stop(100%, @navbar-col2), to(@navbar-col3));
    background-image: -webkit-linear-gradient(@navbar-col1, @navbar-col2, @navbar-col3);
    background-image: -moz-linear-gradient(top, @navbar-col1, @navbar-col2, @navbar-col3);
    background-image: linear-gradient(@navbar-col1, @navbar-col2, @navbar-col3);
    z-index: 20;
}

.first-nav-bar .dropdown-menu {
    border-top: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@navbar-col3), color-stop(100%, @navbar-col4), to(@navbar-col5));
    background-image: -webkit-linear-gradient(@navbar-col3, @navbar-col4, @navbar-col5);
    background-image: -moz-linear-gradient(top, @navbar-col3, @navbar-col4, @navbar-col5);
    background-image: linear-gradient(@navbar-col3, @navbar-col4, @navbar-col5);
}

.second-nav-bar {
    border-top: 1px solid @navbar-col4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@navbar-col3), color-stop(100%, @navbar-col4), to(@navbar-col5));
    background-image: -webkit-linear-gradient(@navbar-col3, @navbar-col4, @navbar-col5);
    background-image: -moz-linear-gradient(top, @navbar-col3, @navbar-col4, @navbar-col5);
    background-image: linear-gradient(@navbar-col3, @navbar-col4, @navbar-col5);
    z-index: 15;
}

#download-calendar-button {
    margin-top: 15px;
}

.wide-table {
    width: auto;
    margin: auto;
}

.wide-table tbody > tr > th, .wide-table td:first-child {
    .text-right;
    min-width: 400px;
}

.wide-table td:last-child {
    min-width: 400px;
}

table tbody > tr > .space-on-right, table thead > tr > .space-on-right {
    padding-right: 50px;
}

table tbody > tr > .space-on-left, table thead > tr > .space-on-left {
    padding-left: 50px;
}

.registration-tabs {
    margin-top: 50px;
}

.label a {
    color: rgb(255,255,150);
    text-decoration: underline;
}

.help-badge {
    .glyphicon;
    .glyphicon-question-sign;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    color: @badge-bg;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    float: right;
    margin: -10px -15px 0px 0px;
    padding: 10px;
}

.help-badge:hover, .help-badge:focus {
    text-decoration: none;
}

.help-toggle-button .help-badge {
    float: none;
    margin: 0px;
    padding: 13px;
}

.help-toggle-button {
    width: 100%;
    text-align: right;
}

.clickable-list-group .list-group-item.clickable {
    color: @link-color;
}

.clickable-list-group .list-group-item.clickable:hover {
    text-decoration: underline;
}

.back-to-top {
    float: right;
    .glyphicon;
    .glyphicon-hand-up;
}

.help-content h3 {
    .p;
    font-size: 1.15em;
    font-weight: bold;
}

.help-content p {
    margin-bottom: 3px;
}

.well {
    min-height: 0px; // Cancel minimum height of wells to avoid glitch when they are slided
}

.btn-sm {
    margin-right: 3px;
    margin-left: 3px;
}

// Color sample in section table
.color-sample {
  height: 20px;
  width: 55px;
  display: inline-block;
  border: 1px outset white;
  margin-top: -5px;
  margin-bottom: -5px;
}

form .color-sample {
  cursor: pointer;
}

#pending-commit {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 30px;
  color: black;
  z-index: 1000;
  font-size: 3em;
  width: 50px;
  height: 52px;
  opacity: .25;
}

#pending-commit span {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.table tbody > tr.privilege-category th {
  padding-top: 30px;
  background: white;
}

.rotate-icon {
  cursor: pointer;
  height: 1.8em;
  width: 1.8em;
}

.dropdown-menu .divider {
  background-color: #cccccc;
}

.big-target {
  cursor: pointer;
}






/* Accounting */

.accounting table, .accounting th, .accounting td {
  border-collapse: collapse;
  border: none;
}

.accounting .table-header th, .accounting .transaction-row td {
  border: 1px @text-color solid;
  padding: 3px;
  background: @gray-lighter;
}

.accounting .transaction-row input {
  background: @gray-lighter;
  font-size: .85em;
  padding-left: 4px;
  width: 100%;
}

.accounting .positive {
  color: green;
}

.accounting .negative {
  color: red;
}

.accounting th {
  text-align: center;
}

.accounting td.category-name input {
  padding-top: 15px;
  padding-bottom: 4px;
  font-size: 1.3em;
  width: 100%;
}

.accounting .categoryName {
  border: none;
  background: #ffe089;
  font-weight: bold;
  font-size: 1.1em;
}

.accounting input {
  border: none;
  outline: none;
}

.accounting td.move-handle {
  width: 2em;
  border: none;
  background: none;
}

.accounting .cell-date, .accounting .cell-receipt {
  width: 84px;
}

.accounting input.input-date, .accounting input.input-receipt {
  width: 77px;
}

.accounting .cell-description {
  width: 280px;
}

.accounting input.input-description {
  width: 273px;
}

.accounting .cell-amount {
  width: 68px;
}

.accounting input.input-amount {
  width: 48px;
  text-align: right;
}

.accounting td.delete-cell {
  border: none;
  background: none;
}

.accounting td.delete-cell a .glyphicon {
  color: red;
}

.accounting .input-amount-symbol {
  font-size: .85em;
}

.accounting td.category-subtotal {
  text-align: center;
  border: 1px solid @text-color;
  background: @gray-lighter;
  font-weight: 500;
}

.accounting .add-category-row td {
  padding-top: 2em;
}

.accounting th.cellout, .accounting td.cellout, .accounting .cellout input {
  background: #ffad54;
}

.accounting th.cellin, .accounting td.cellin, .accounting .cellin input  {
  background: #d4c854;
}
