
#payment-wrapper th.name-column {
  min-width: 120px;
}
#payment-wrapper th.count-column {
  width: 80px;
}
#payment-wrapper th.navigation-column {
  width: 50px;
}
#payment-wrapper th.payment-column {
  width: 135px;
}
#payment-wrapper table.payment-table {
  width: auto;
}
#payment-wrapper .payment-paid {
  color: green;
}
#payment-wrapper .payment-unpaid {
  color: #CD0200;
}
#payment-wrapper .remove-event .glyphicon-remove {
  color: #999999;
  position: relative;
  top: 2px;
}